* {
    box-sizing: border-box;
    scroll-padding-top: 4.475rem;
}

html {
    font-size: 16px;
}

@media only screen and (min-width: 841px) and (max-width: 960px) {
    html {
        font-size: 14px;
    }

    * {
        scroll-padding-top: 4rem;
    }
}

@media only screen and (min-width: 721px) and (max-width: 840px) {
    html {
        font-size: 12px;
    }

    * {
        scroll-padding-top: 3.5rem;
    }
}

@media only screen and (min-width: 661px) and (max-width: 720px) {
    html {
        font-size: 11px;
    }

    * {
        scroll-padding-top: 3rem;
    }
}

@media only screen and (min-width: 541px) and (max-width: 660px) {
    html {
        font-size: 10px;
    }

    * {
        scroll-padding-top: 2.5rem;
    }
}

@media only screen and (min-width: 491px) and (max-width: 540px) {
    html {
        font-size: 9px;
    }

    * {
        scroll-padding-top: 2rem;
    }
}

@media only screen and (max-width: 490px) {
    html {
        font-size: 8px;
    }

    * {
        scroll-padding-top: 1.25rem;
    }
}

body {
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1.25rem;
    font-weight: normal;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

nav {
    width: 100%;
    padding: 0.625rem;
    border-bottom: rgb(195, 196, 197) 1px solid;
    background-color: rgba(245, 245, 245, 0.9);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0.125rem 0.125rem 0.5rem rgb(128, 128, 128);
    z-index: 1;
}

nav li:hover {
    text-shadow: 0.125rem 0.125rem 0.5rem rgb(168, 137, 70);
    transition: 0.4s all linear 0.2s;
}

nav li {
    transition: 0.4s all linear 0.2s;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 30%;
}

#logo {
    width: 12.5rem;
    height: 3.125rem;
    background-image: url(../images/logo1.png);
    background-size: cover;
    transition: 0.4s all linear 0.2s;
}

#logo:hover {
    background-image: url(../images/logo2.png);
    transition: 0.4s all linear 0.2s;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 30%;
}

.links ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.links li {
    margin: 0 0.75rem;
}

.links a {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: underline;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex: 1 1 30%;
}

.icons ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
}

.icons li {
    margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
    header {
        position: relative;
        top: 4.475rem;
    }
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    margin: 4.5rem auto;
    display: flex;
    flex-flow: column nowrap;
}

.title {
    width: 100%;
    padding: 2.5rem;;
    font-family: 'Jacques Francois Shadow', cursive;
    text-align: center;
    text-transform: lowercase;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.image-container {
    width: 100%;
}

#mission .image-container {
    background-image: url(../images/mission.jpg);
    background-size: cover;
    height: 48rem;
}

#mission div.content {
    justify-content: center;
    align-items: center;
}

#mission-statement {
    height: 24rem;
    width: 75%;
    flex-grow: 0;
    flex-shrink: 1;
    background-image: linear-gradient(215deg, rgba(255, 166, 0, 0.8), rgba(255, 166, 0, 0) 70%),
    linear-gradient(125deg, rgba(128, 0, 128, 0.8), rgba(128, 0, 128, 0) 70%),
    linear-gradient(335deg, rgba(0, 183, 255, 0.8), rgba(0, 183, 255, 0) 70%);
    color: rgb(255, 255, 255);
    padding: 1rem 10%;
    text-align: center;
    line-height: 1.2;
    font-family: 'Enriqueta', serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    #mission-statement {
        width: 100%;
        height: 48rem;
        padding: 15rem 10%;
        color: rgb(255, 255, 255);
    }
}

#mission-statement h3 {
    font-family: 'Enriqueta', serif;
    text-transform: uppercase;
}

#mission-statement p {
    font-family: 'Kanit', sans-serif;
}

#mission-statement span {
    font-family: 'Jacques Francois Shadow', cursive;
    text-shadow: 0.125rem 0.125rem 0.5rem rgb(255, 255, 255);
}

#offer div.content {
    width: 100%;
    height: auto;
    padding: 3rem 1.5rem;
    background-color: rgb(230, 230, 250);
    background-image: repeating-linear-gradient(45deg, rgba(79, 117, 3, 0.25) 0 1rem, transparent 1rem 2rem),
    repeating-linear-gradient(135deg, rgba(79, 117, 3, 0.25) 0 1rem, transparent 1rem 2rem);
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(215deg, rgba(255, 166, 0, 0.8), rgba(255, 166, 0, 0) 70%),
    linear-gradient(125deg, rgba(128, 0, 128, 0.8), rgba(128, 0, 128, 0) 70%),
    linear-gradient(335deg, rgba(0, 183, 255, 0.8), rgba(0, 183, 255, 0) 70%);
    opacity: 1;
    padding: 1.5rem;
    margin: 1rem;
}

.pic {
    width: 18.75rem;
}

.pic img {
    width: 100%;
}

.label {
    width: 18.75rem;
    text-align: center;
    padding-top: 0.5rem;
    line-height: 1.2;    
}

.product div.label {
    color: rgb(255, 255, 255);
}

.product h4 {
    font-family: 'Enriqueta', serif;
    text-transform: capitalize;
}

#team {
    margin-bottom: 0;
}

#team .image-container {
    background-image: url(../images/team.jpg);
    background-size: cover;
}

#team div.content {
    padding: 3rem 1.5rem;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.team-member {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    width: 18.75rem;
}

.team-member div.label {
    color: rgb(255, 255, 255);
}

.team-member h3 {
    font-family: 'Enriqueta', serif;
    line-height: 2;
}

.team-member p {
    font-family: 'Kanit', sans-serif;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: capitalize ;
}

.mugshot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28.125rem;
    background-image: linear-gradient(215deg, rgba(255, 166, 0, 0.8), rgba(255, 166, 0, 0) 70%),
    linear-gradient(125deg, rgba(128, 0, 128, 0.8), rgba(128, 0, 128, 0) 70%),
    linear-gradient(335deg, rgba(0, 183, 255, 0.8), rgba(0, 183, 255, 0) 70%);  
    margin-bottom: 1rem;
}

.mugshot img {
    width: 97.33%;
    height: 97.33%;
}

footer {
    width: 100%;
    background-color: rgb(230, 230, 250);
    background-image: repeating-linear-gradient(45deg, rgba(79, 117, 3, 0.25) 0 1rem, transparent 1rem 2rem),
    repeating-linear-gradient(135deg, rgba(79, 117, 3, 0.25) 0 1rem, transparent 1rem 2rem);      
}

footer h2 {
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 3.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
}

footer p {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0.125rem 0.125rem 0.5rem rgb(128, 128, 128);  
}

footer div.background {
    background-color: rgba(245, 245, 245, 0.1);
    padding: 3rem 1.5rem;
}
